<center>
    <h2>Survey Analytics</h2>
    <hr />
    
    <div id="WaitingAswers">
        <br /><br /><br /><br /><br />
        <div class="dots-loader"></div>
        <h4>Waiting for the results...</h4>
    </div>
</center>


<div id="SurveyAnswersDiv"></div>


